//variables
$website-width: 800rem;
$main-color: #ffa500;
$light-color: #f4f4f4;
$dark-color: #333;
$btndark-color: #c58e26;
$bg-image: url("../images/office-computer.jpg");
$content-image: url("../images/blur-code.jpg");
